@import '../color_n_typography';

.about_us_points{
    margin-top: 120px;
    background-color: #f8f7fe;
    border-radius: 16px;
    padding: 14px;
    display : grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    .point{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 18px;    
        position: relative;

        &::before{
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 2px;
            height: 70%;
            border-radius: 8px;
            background-color: rgb(189, 189, 189);

            
        }

        &:last-child{
            &::before{
                display: none;
            }
        }
        // background-color: red;
        .point_head{
            padding-bottom: 12px;
            font-size: 1.2rem;
            font-weight: $fw-bold;
        }
        .point_pera{
            line-height: normal;
            font-size: 1rem;
        }
    }
}