@import '../color_n_typography';
.section_outer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    max-width: 1424px;
    margin: 120px auto 120px auto;
    gap: 120px;
    .text_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
        h4{
            font-weight: $fw-bold;
            font-size: 3.2rem;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
            max-width: 60%;
            line-height: normal;
            color: #898989;
        }
    }

    .grid{
        .card{
            position: relative;
       
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
            padding: 62px 24px 24px 24px;
            transition: all 200ms ease-in-out;
            background-color: #ffffff;
            border: 1px solid rgba(128, 128, 128, 0.598);
            border: 1px solid  #070e20;
            border-radius: 16px;
          
            cursor: pointer;
            &:hover{
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                .image_outer{
                    transform: translateY(-10px);
                }
                .cta_link{
                    color: blue;
                }
            }
            span{
                .card_title{
                    font-weight: $fw-semibold;
                    font-size: 1.2rem;
                    padding-bottom: 20px;
                    line-height: 24px;
                }            
                .card_desc{
                    text-justify: newspaper;
                    line-height: normal;
                    font-size: 0.96rem;
                    color: rgb(98, 98, 98);
                }
            }

            .cta_link{
                align-self: flex-end;
            }

            .image_outer{
                transition: all 200ms ease-in-out;
                position: absolute;
                right: -1px;
                top: -40px;
                background: white;
                padding: 12px;
                border-radius: 16px;
                border: 1px solid grey;
      
                .card_img{
                    height: 60px;
                    width: 60px;
                }
            }

        }
    }
}