@import "../color_n_typography";



.Navbar_main{
    position: sticky;
    top: 0;
    font-size: 1rem;
    color: black;
    width: 100%;
    max-width: 1424px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 
    z-index: 5000;

    &.hide{
        max-width : 100%;
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        display: flex;
        align-items:  center;
        justify-content: center;
        .upper_navbar{
        position: fixed;
        top: 0;
        z-index: 5000;

        }   
        .lower_navbar{
            background-color: white;
            z-index: 50000;
           justify-self: center;
           max-width: 1424px;
           width: 100%;
         
        }
      
    }

    .upper_navbar{
        padding: 15px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(230, 228, 228);

        ul{
            display: flex;
            align-items: center;
            column-gap: 34px;
            li{                
                .icon_sm{
                    width: 17px;
                    height: auto;
                }
            }
        }
        .contact_item{
            font-weight: $fw-regular;
            
        }
    }


    .lower_navbar{
    
        padding: 15px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #header_logo{
            width: 100%; /* Logo will take up the full width of its container */
            max-width: 140px; /* Limit the maximum width */
            height: auto; /* Maintain aspect ratio */
        }
        nav{
            display: flex;
            align-items: center;
            ul{
                padding-right: 34px;
                display: flex;
                align-items: center;
                column-gap: 24px;
                li{
                    font-weight: $fw-regular;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
            #blogs{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                background-color: #403CF6;
                color: white;
                border-radius: 8px;
                padding: 14px 18px;
                font-weight: $fw-semibold;
                border: none;
                outline: none;
                font-size: 0.95rem;
                cursor: pointer;
                letter-spacing: 1.2px;
                display: flex;
                align-items: center;
                gap: 8px;
                .icon{
                    width: 15px;
                    height: auto;
                }
            }
        }
    }
}