@import '../color_n_typography';


.section_about{
    margin: 0px 0px;
    width: 100%;
    // background-color: pink;
    position: relative;
    margin: 100px 0px 150px 0px;
    .wapper{
        position: relative;
        max-width: 1424px;
        margin: 0px auto;
                    .about_us_points{
                       
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            border: 1px solid #2730dc;
                            border-radius: 16px;
                            background-color: #ffffff;
                            padding: 18px;
                            display : grid;
                            grid-template-columns: repeat(4,1fr);
                            grid-template-rows: repeat(1,1fr);
                            column-gap: 30px;
                            .point{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 24px 18px;    
                                position: relative;
                        
                
                                &::before{
                                    position: absolute;
                                    content: "";
                                    right: 0;
                                    top: 50%;
                                    transform: translate(-50%,-50%);
                                    width: 2px;
                                    height: 70%;
                                    border-radius: 8px;
                                    background-color: rgba(176, 173, 173, 0.493);
                        
                                    
                                }
                        
                                &:last-child{
                                    &::before{
                                        display: none;
                                    }
                                }
                
                   
                
                
                              
                                .point_head{
                                    padding-bottom: 12px;
                                    font-size: 1.2rem;
                                    font-weight: $fw-bold;
                                }
                                .point_pera{
                                    line-height: normal;
                                    font-size: 1rem;
                                }
                            }
                        }
    }
  
}
