@import "../color_n_typography";



.blog_page_server_{
    .dark_banner{
        width: 100%;
        position: relative;
        background: linear-gradient(to top, rgb(0 0 0 / 98%), #05022d);
        padding: 60px 0px 60px 0px;
        .banner_wrapper{
            position: relative;
            z-index: 5;
            max-width: 1124px;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
       
          
          
             .infobar{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                background: #f5f5f521;
                padding: 40px;
                border-radius: 16px 16px;
               margin-bottom: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
             position: relative;
             &::before{
                content:  "";
                position: absolute;
                left: 0;
                bottom: -44px;
                width: 100%;
                background-color: rgb(69 69 69);
                height: 1px;
             }

                .block{
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    div{
                        display: flex;
                        flex-direction: column;
                        gap:8px;

                        .block_name{
                            font-size: 0.85rem;
                            color: #E0E0E0;
                            text-transform: uppercase;
                        }
                        .block_text{
                            text-transform: capitalize;
                            font-weight: 600;
                            font-size: 1rem;
                            color: white;
                        }
    
                    }
                   
                }
               
             }

             .blog_meta{
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 48px;
                margin: 40px 0px 50px 0px;
                
                .blog_title{
                    font-size: 3rem;
                    color: white;
                    font-weight: 600;
                    line-height: normal;
                    
                }

                .blog_description{
                    font-weight: 200;
                    color: #f9f9f9;
                    font-size: 1.1rem;
                    line-height: normal;
                }
             }
        }


    
    
    }

    .wrapper{
        position: relative;
            z-index: 5;
        max-width: 1124px;
        margin: 80px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-top: -70px;
        .blog_banner_img{
            width: 100%;
            img{
                width: 100%;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-radius: 16px;
            }
           
        }
        .blog_html_area{
            
            max-width: 1124px;
            text-align: justify;          
            font-size: 1.1rem;
            padding: 40px 0px;

        }
      
           
    }
}