// Colors
$blue-priamry : rgba(4, 0, 197, 1);
$blue-secondary : rgba(64, 60, 246, 1);
$blue-light : rgba(100, 134, 255, 1);
$blue-dark-border: rgba(0, 28, 101, 1);

$white-priamry : rgb(255, 255, 255);
$grey-text-primary : rgba(81, 81, 81, 1);
$grey-text-secondery : rgba(27, 25, 25, 1);

$light-purple-blue :rgba(192, 175, 175, 1);
$black-primary :rgba(0, 0, 0, 1);
$black-secondry-grey :rgba(222, 222, 222, 1);
$black-banner-dark : rgba(40, 40, 40, 1);

$illuminate-green-light :rgba(134, 240, 157, 1);
$dark-text-green :rgba(0, 159, 35, 1);

$purple-card-bg :rgba(224, 229, 248, 1);

$grey-footer-card-bg :rgba(250, 250, 250, 1);
$star-gold :rgba(255, 245, 6, 1);




//Typography
$fw-regular : 400;
$fw-medium : 500;
$fw-semibold : 600;
$fw-bold : 700;
$fw-extrabold : 900;