@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.skleten{
    opacity: 0.7;
    animation: skleten-loading 1s linear infinite alternate;
}

.skleten-text{
    width: 100%;
    min-height: 1rem;
    border-radius: 9px;

    &.last{
        width: 80%;
    }

    &.title{
        min-height: 2rem;
    }
}

@keyframes skleten-loading {
    0% {
        background-color: hsl(198, 24%, 39%);
    }
    100% {
        background-color: hsl(0, 0%, 100%);
    }
}
